

*{
    font-family: fantasy;
}
body{
    width: 50%; /* largeur de ma page 50% de l'ecran */
    margin: auto;/* gestion automatique des marges pour que mon tableau soit centré*/
}
table{
    border: 4px solid #483d8b;
    width: 90%; /*largeur du tableau par rapport à son contenant donc ici au body */
    border-collapse: collapse;
}
thead, tfoot{
    background-color: #e6e6fa;
    border: 3px solid #6a5acd;
}
tbody{
    border: 1px solid #6a5acd;
}
th{
    border: 1px dotted #6a5acd;
    background-color: #e6e6fa;
    width: 25%;
    padding: 4px;
}
td{
    border: 1px dotted #6a5acd;
    text-align: center;
    font-size: 100%;
    padding: 5px;
}
td:first-child{
    /*1er (td) pour aligner le texte à gauche de la premiére cellule de chaque rangée */
    text-align: left;
    background-color: #e6e6fa;
}
